<h1>Cars Available for Rent</h1>
<div class="form-container">
    <%= form_with(url: cars_path, method: :get, local: true, html: { class: 'search-form' }) do %>
        <div class="form-group">
            <%= label_tag :query, "Search Cars:" %>
            <%= text_field_tag :query, params[:query], placeholder: "Enter brand, model, etc." %>
            <%= submit_tag "Search" %>
        </div>
    <% end %>
</div>


<div class="cars-list">
    <ul>
        <% @cars.each do |car| %>
            <li>
                <%= car.brand %> <%= car.model %> -
                <%= link_to "See details", car_path(car) %>
            </li>
        <% end %>
    </ul>

    <%= paginate @cars %>
</div>
